flask==3.1.1
gunicorn
python-dotenv==1.1.0
pypdf==5.6.1

langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.68
langchain-groq==0.3.2
langchain-pinecone==0.2.13

langchain-huggingface
sentence-transformers
pinecone