Flask==3.1.1
Flask-Dance==7.1.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1

gunicorn
python-dotenv==1.2.2
pypdf==5.6.1

deepgram-sdk==7.3.1


livekit-agents==1.5.17
livekit-api==1.1.0
livekit-plugins-deepgram==1.5.17
livekit-plugins-silero==1.5.17
livekit-plugins-groq==1.5.17

aiohttp==3.13.5

langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.68
langchain-groq==0.3.2

pinecone==7.3.0
psycopg2-binary==2.9.9
